/* Remove top white space */
#quarto-content main {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

main.content {
  padding-top: 0 !important;
}

/* Hero background */
.full-hero {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background:
  linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
  url("images/home_photo.png")
  
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
}

/* Circular navbar image */
.navbar-brand img {
  border-radius: 50%;
  height: 40px;
  width: 30px;
  object-fit: cover;
  margin-right: 10px;
}

/* About page image */
.about-image {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.quarto-about-trestles .about-entity {
  position: relative;
  padding-right: -100px;
}

/* Actual image inside frame */
.quarto-about-trestles .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* Remove title under photo */
.quarto-about-trestles .about-title {
  display: none;
}

.about-image img {
  border-radius: 0%;
  width: 220%;
  height: 300%;
  object-fit: cover;
}

/* About page background */

.bg_about_me {

  min-height: 60vh;

  background:
    linear-gradient(rgba(255,255,255,0.78), rgba(255,255,255,0.78)),
    url("images/bg_about_me.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 5px 40px 5px 40px;

  max-width: 400px;   /* controls width */
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 40px;   /* rounder corners */
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Move heading up a little */
.bg_about_me h2 {
  margin-top: 0;
  margin-bottom: 16px;
  
  
